*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: 'EB Garamond', serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 33px;
    background: #000000;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.logo {
    margin-left: 30px;
    max-width: 150px;
    height: auto;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a:hover {
    background: #262626;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60vh !important;
    background: url(header.jpg) no-repeat center;
    background-size: cover;
}

.header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    max-width: 100%;
    display: block;
    margin: 0;
    margin-bottom: 40px;
    font-size: 60%;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 1;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10% 40px;
    border: 2px solid #000000;
    color: #fff;
    text-decoration: none;
    background: #000000;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.btn-home a {
    margin: 0 10px;
}

.content {
    display: block;
    clear: both;
    overflow: auto;
}

.mapa img {
    max-width: 100%;
    height: auto;
}

.sau {
    padding: 30px;
    background: #000000;
    margin-bottom: 20px;
}

.contact {
    padding-top: 20px;
    background: #000000;
    padding-bottom: 20px;
}

.contact .mapa img {
    max-width: 100%;
    width: 20%;
    height: auto;
}

.music {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding: 20px;
}

.embed {
    margin: 0 10px;
    width: 300px; /* Ancho deseado */
    height: 380px; /* Alto deseado */    
}

.embed iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Ajuste */
    height: auto;
}

.video-title {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0;
}

video {
    width: 80%;
    display: block;
    margin: auto;
}

.video-container {
    text-align: center;
    margin-top: 20px;
}

.video-container iframe {
    max-width: 100%; /* Ajuste */
    height: auto;
}

footer {
    background-color: #000000;
    padding: 20px 0;
    text-align: center;
}

.social-icons {
    list-style-type: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.social-icons a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
.header .logo img[src="gesa.png"] {
    display: none;
}

.header .logo img[src="gamma.png"] {
    display: block;
    margin: 0 auto;
    max-width: 40%;
    height: auto;
}

.head .logo img[src="gesa.png"] {
    display: inline-block;
}

.header video {
    max-width: 100%;
    height: auto;
}

.video-container iframe {
    max-width: 70%;
    height: auto;
}

.social-icons {
    margin-top: 20px;
}
